body {
  background-color: #85C1E9;
  margin: 0;
}

#text {
  margin: auto;
  font-size: 13px;
  width: 50vw;
  max-width: 680px;
  min-width: 350px;
  margin-top: 3em;
  margin-bottom: 4em;
  padding-bottom: 0.2em;
  padding: 0.8em;
  border-radius: 10px;
  background-color: #fff;
  opacity: 0.7;
  text-align: center;
}

.container {
  font-size: 16px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50rem;
  height: 50rem;
}

.timer-label {
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  margin-top:1em;
}

.display {
  font-size: 6em;
}

.timers {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  font-size:1.3em;
}

.break-label,
.session-label {
  text-align: center;
}

.timer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.timer>* {
  border-radius: 5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.timer>div>p {
  margin-top: 9px;
}

button {
  display: grid;
  place-content: center center;
  background-color: #ffffff;
}

.start-and-reset {
  display: flex;
  flex-direction: row;
}

.big {
  height: 45px;
  width: 80px;
  border-radius: 5px;
  margin: 5px;
  font-size: 25px;
}

.author {
  text-align: center;
  font-family: sans;
  margin-top: 15px;
  font-size: 16px;
  color: #566573;
  margin-bottom: 10px;
}

.author>a {
  color: #17202A;
  text-decoration: none;
}

@media only screen and (max-width: 500px) {
  /* For mobile phones: */
  #text {
    margin-top: 2em;
    margin-bottom: 1em;
  }
  .container {
    width: 100vw;
    height: 100vw;
    max-width: 50rem;
    max-height: 50rem;
  }
  .display {
    margin-top: -15px;
    font-size: 4.5em;
  }
  .timers{
    margin-top:-20px;
  }
  .start-and-reset{
    margin-top:-10px;
  }
  .author {
    margin-top:0;
  }
}